/* body {
    background-color: orange;
}

*/

a {
    text-decoration: none;
    color: darkcyan;
}

.tiny-header {
    font-size: 0.5em;
    vertical-align: super;
    color: gray;
}

#small-hr {
    width: 50%;
    margin-left: 0%;
}