/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.roboto-slab-500 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.general-sans-body {
    font-family: 'General Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    text-shadow: none;
}

body {
    font-family: 'Clash Display', sans-serif;
    font-size: calc(1em);
    margin: 2em 1em;
    padding: 0em 0em;
    color: #000;
    text-align: center;

    background: linear-gradient(rgba(99, 12, 92, 0.8), rgba(12, 6, 71, 0.8)) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

button {
    background: rgba(255,255,255,0.25);
    color: white;

    padding: 0.5em 1em;
    border: 2px solid whitesmoke;
    border-radius: 5px;

    cursor: pointer;
}

.b-red {
    background-color: rgba(220, 69, 69, 0.418);
    transition: background-color 0.2s ease-in-out, border 0.3s ease-in-out;
}

.b-blue {
    background-color: rgba(69, 130, 220, 0.418);
    transition: background-color 0.2s ease-in-out, border 0.3s ease-in-out;
}

.top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    border-radius: 10px;

    padding: 0.5em 1em
}

.top-navigation a:not(img) {
    color: white;
    font-size: 140%;
}

.settings-icon {
    position: fixed;
    width: 5vw;
    bottom: 1vh;
    left: 1vw;
}

.selected-nav {
    color: #fcff3f;
    text-shadow: 5px 5px 20px rgb(250, 255, 95);
    border-bottom: 2px solid lightgrey;
}

#close-settings {
    display: inline;
    margin-top: 1rem;

    font-size: 0.5rem;
    border: none;
}

#settings-header {
    display: inline;
    font-size: 2rem;
    margin-top: 4rem;
}

#logo {
    width: 6em;
}

#settings:target {
    display: block;

    position: absolute;
    margin: 0 auto;
    padding: 2vh 2vw;
    z-index: 1;
    overflow: auto;

    left: 9vw;
    bottom: 11.5vh;
    width: 80vw;
    height: 75vh;  

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px) saturate(180%);
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

/* CHANGE TOP NAV IF ZOOM IS TOO HIGH */

@media (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.4em;
    }

    .top-navigation {
        padding-right: 4em;
        flex-direction: column;
    }

    .top-navigation a {
        font-size: 4px;
        padding: 0em 0em;
    }

    .settings-icon {
        width: 15vw;
    }

    #logo {
        position: absolute;
        left: 80%;
        top: 50%;
        width: 2em;
    }
}

/* FX and processing */

h1, p {
    text-shadow: 5px 0.5px 2px rgba(0, 0, 0, 0.7);
}

.top-navigation {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px) saturate(180%);
}

/* Specific outline classes */

.outline {
    -webkit-text-stroke: 0.5px white;
}

/* Specific color classes */

.colwhite {
    color: white;
}

/* Transformation specific classes */
.deselected-nav {
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.5s ease-in-out, border 0.2s ease-in-out;
}

.selected-nav {
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.5s ease-in-out;
}

#logo {
    transition: transform 0.2s ease-in-out;
}

/* Hover classes */
.deselected-nav:hover {
    text-shadow: 5px 5px 20px rgb(255, 255, 255);
    border-bottom: 2px solid lightgrey;

    transform: translateY(-2px);
    color: #f8ff32;
}

.selected-nav:hover {
    transform: translateY(-2px);
    text-shadow: 5px 5px 20px rgb(230, 255, 9);
    border-bottom: 5px double yellow;
}

.b-red:hover {
    background-color: rgba(255, 43, 43, 0.418);
    border: 2px solid rgba(255, 144, 144, 0.86);
}

.b-blue:hover {
    background-color: rgba(108, 162, 254, 0.418);
    border: 2px solid rgba(144, 174, 255, 0.86);
}

#logo:hover {
    transform: scale(1.05);
    transform: rotateZ(5deg);
    transition: transform 0.2s ease-in-out;
}

/* Hidden menus on start (ON for now) */
#settings {
    display: none;
}

/*
Preset for a glassmorphism card

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2px) saturate(180%);

*/